*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.body{
     height: 100vh;
     background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(p.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    height: 80px;
    margin-top: 20px;
}
.btn1{
   text-align: center;
}
.btn1 a{
    text-decoration: none;
    color: #1D1D2C;
    border: 5px solid #E40C2B;
    background-color: #E40C2B;
    padding: 15px 30px;
    border-radius: 6px;
    font-size: 20px;
    transition: 0.3s ease;
}
.btn1 a:hover{
    background-color: #2b080d;
    border: 5px solid #2b080d;
    color: #E40C2B;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1{
    color:  #eec3ae;
    margin-bottom: 30px;
    font-size: 60px;
}
/***************second page start*****************/ 
.body1{
    height: auto;
    background-color: #fff;
}
.gallery{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pic{
    margin-left: 50px;
    margin-bottom: 50px;
    border: 0px solid #000;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 40px 0px rgba(59, 48, 48, 0.7);
    transition: transform 0.5s ease;
    margin-top: 80px;
}
.pic:hover{
    transform: translateY(-10px);
}
.btn{
   padding: 25px 25px;
}
.btn a{
    text-decoration: none;
    color: #1D1D2C;
    font-family: arial;
    font-size: 15px;
    padding: 10px 30px; 
    background-color: #9e8488;
    border: 1px solid #9e8488;
    border-radius: 57px;

}
.btn a:hover{
    color: #fff;
    background-color: rgb(121, 130, 133);
    border: 1px solid rgb(139, 144, 146);
    transition: 0.6s ease;
}
.pic img{
    transition: 0.8s ease;
    cursor: pointer; 
    height: 250px;
    width: 350px;
}

.pic p{
    margin-top: 10px;
    font-weight: 100;
    font-family: sans-serif;
    color: #1a1a1d;
}
.container{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(brrr.jpg);
    background-size: cover;
    background-position: center;
}
/*Footer*/
.footer1{
    height: 45vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(br.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(185, 153, 153);
    font-family: sans-serif;
    padding: 50px 50px;
    overflow: hidden;
}
.row{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer1 .col-1, .footer1 .col-2, .footer1 .col-3{
    flex-basis: 30%;
  }
  .col-2 li{
      list-style-type: none;
  }
  .col-2 li a{
       text-decoration: none;
       color: #fff;
       line-height: 30px;
       margin-top: 10px;
  }
  .col-2 li a:hover{
      color: rgb(117, 110, 110);
  }
  .col-1 p{
      margin-top: 10px;
      line-height: 20px;
  }
  .icons i{
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
}
.icons a{
    text-decoration: none;
    color: rgb(185, 153, 153);
    transition: 0.5s ease;
}
.icons a:hover{
    color: #fff;
}
@media (max-width: 1000px){
    .container{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(b.jpg);
    }
}
@media (max-width: 1200px){
    .pic img{
        height: 220px;
        width: 300px;
    }
    .title h1{
        font-size: 40PX;
    }
  }
  @media (max-width: 1050px){
    .pic img{
        height: 220px;
        width: 350px;
    }
    .gallery{
        justify-content: center;
    }
    .pic{
        margin-right: 20px;
    }
  }
  @media (max-width: 875px){
      .pic img{
          width: 250px;
          height: 180px;
      }

  }
  @media (max-width: 691px){
      .pic img{
            height: 190px;
            width: 250px;
      }
      .footer1 .col-1, .footer1 .col-2, .footer1 .col-3{
        flex-basis: 50%;
      }
      .title1 h1{
        font-size: 34px;
    }
  }
  @media(max-width: 294px){
    .pic img{
        height: 100px;
        width: 180px;
    }
  }
  @media(max-width: 500px){
      .footer1{
          height: 70vh;
      }
    .footer1 .col-1, .footer1 .col-2, .footer1 .col-3{
        flex-basis: 100%;
        margin-bottom: 0px;
      }
      .copyright p{
            font-size: 15px;
      }
      .title1 h1{
        font-size: 28px;
    }
    .btn1 a{
        font-size: 15px;
        padding: 10px 15px;
    }
    .title h1{
        font-size: 30px;
    }
  }
  @media (max-width: 595px){
        .card{
            max-width: 580px;
            margin: 10 10;
        }
  }
  @media (max-width: 411px){
      .title1 h1{
          font-size: 23px;
      }
  }
@media (max-width: 650px){
    .btn1 a{
        font-size: 15px;
        padding: 10px 15px;
    }

}
@media (max-width: 370px){
    .title h1{
        font-size: 25px;
    }
}