.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .head{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      border-bottom: 1px solid #000;
      height: 45vh;
      align-items: center;
      background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(hotel.jpg);
      background-size: cover;
      background-position: center;
  }
  .item{
      
      background-size: cover;
  }
  .png{
      height: 120px;
  }
  .gallery{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pic{
    margin-left: 50px;
    margin-bottom: 50px;
    border: 0px solid #000;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
    transition: transform 0.5s ease;
}
.pic:hover{
    transform: translateY(-10px);
}
.rating{
    margin-top: -20px;
}
.rating .fa{
    color: rgb(201, 9, 9);
}
.btn{
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-size: 15px;
    border: 1px solid rgb(65, 101, 112);
    padding: 10px 30px; 
    background-color: rgb(65, 101, 112);
}
.btn a:hover{
    color: #fff;
    background-color: rgb(9, 83, 107);
    border: 1px solid rgb(9, 83, 107);
}
.pic img{
    height: 230px;
    transition: 0.8s ease;
    cursor: pointer;   
}

.pic p{
    margin-top: 10px;
    font-weight: 100;
    font-family: sans-serif;
}
  .title{
    display: flex;
  }
  .title h1{
    font-size: 45px;
    font-family: monospace;
    color: #fff;
  }
  .footer{
    background: linear-gradient(#fff,#3a3a3a);
      padding: 60px 0 20px;
      overflow: hidden;
      font-family: sans-serif;
      color: #555;
  }
  .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .footer .col-1, .footer .col-2, .footer .col-3{
    flex-basis: 30%;
  }
  .col-2 li{
      list-style-type: none;
  }
  .col-2 li a{
       text-decoration: none;
       color: #555;
  }
  .col-2 li a:hover{
      color: #fff;
  }
  .icons i{
    font-size: 25px;
    padding: 10px;
}
.icons a{
    text-decoration: none;
    color: #555;
    transition: 0.5s ease;
}
.icons a:hover{
    color: #fff;
}
  @media(max-width:900px){
      img{
          height: 200px;
      }
  }
  @media(max-width:807px){

       .title h1{
           font-size: 30px;
       }
       .png{
           height: 100px;
       }
       .pic img{
        height: 170px;
    }
  }
  @media(max-width: 570px){
      img{
          height: 250px;
      }  
      .png{
          height: 100px;
      }
      .row{
          text-align: center;
      } 
  }
  @media(max-width: 465px){
    .footer .col-1, .footer .col-2, .footer .col-3{
        flex-basis: 100%;
        margin-top: 30px;
      }
      .head{
          overflow: hidden;
      }
      .pic{
          margin-left: 0;
          margin-bottom: 30px;
      }
      .pic img{
        height: 170px;
    }
  }
  @media(max-width: 628px){
      .pic img{
          height: 230px;
      }
  }
  @media(max-width: 411px){
    .pic img{
        height: 170px;
    }
    .col-3 h3{
        color: rgb(180, 180, 180);
    }
  }